*{
    margin: 0;
    box-sizing: border-box;
}
nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border-radius: 7px;
    margin-inline: auto;
    padding-block: 5px;
    z-index: 3;
    background-color: #333;
}
.logo{
    margin-left: 10px;
    font-size: 1.2rem;
    color: #fff;
}
.logo > span{
    font-size: 2.5rem;
}
ul{
    width: 20%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    padding: 0 0;
}
ul>li{
    width: 40%;
    border: 2px solid #fff;
    background-color: transparent;
    text-align: center;
    padding-block: 5px;
    border-radius: 7px;
    cursor: pointer;
}
li>a{
    color:#fff;
    text-decoration: none;
    font-size: 1rem;
}
header{
    width: 100%;
    min-height: 100vh;
    /* background-color: #333; */
    position: relative;
}
.theme{
    z-index: 5;
    position: absolute;
    right: 0;
    transform: translate(-100%,-500%);
    bottom: 0;
    text-align: center;
}
.theme > h1{
    font-size: 3rem;
    color: #fff;
}
.theme > h3{
    font-size: 0.9rem;
    color: #fff;
    padding-left: 25px;
}
header > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
   
}
header::after{
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    opacity: 0.5;
    z-index: 0;
}
section{
    width: 100%;
    background-color: #073c85;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 25px 0;
}
.about{
    width: 70%;
    margin-inline: auto;
    text-align: center;
    margin-block: 20px;
    padding-bottom: 20px;
}
.about>h1{
    font-size: 2rem;
    color: #fff;
    margin-block: 20px;
    text-transform: capitalize;
}
.about>p{
    font-size: 1rem;
    margin-block: 10px;
    color: #fff;
    margin-block: 20px;
    padding: 0 15px;
}
.about-btn{
    margin-inline: auto;
    width: 200px;
    border: 2px solid #fff;
    border-radius: 7px;
}
.about-btn>button{
    font-size: 0.9rem;
    padding: 10px;
    width: 100%;
    border: 0;
    outline: 0;
    cursor: pointer;
    background: transparent;
    color: #fff;
    text-transform: capitalize;
}
footer{
    width: 100%;
    background-color: #333;
}
footer >p {
    text-align: center;
    padding: 10px;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    nav{
        width: 100%;
        border-radius: 0px;
    }
    ul{
        width: 40%;
    }
    .theme{
        transform: translate(-16%,-500%);
    }
}