{% extends 'base.html' %}

{% block title %}Courses{% endblock %}

{% block content %}
<div class="search-container" id="search-container">
    <input type="text" class="" id="search-bar" placeholder="Search...">
    <span class="search-icon">🔍</span>
</div>

<h1>Your courses</h1>
<ul class="list-group">
    <!-- display list of courses student enrolled in -->
    {% for lecture in lectures %}
        <li class="list-group-item">
            <a href="{{ url_for('courses.course_detail', course_id=lecture.id) }}">{{ lecture.title }}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}

