{% extends 'base.html' %}

{% block title %}Create a New Post{% endblock %}

{% block content %}
<div class="container mt-5 create-post-container">
    <h2>Create a New Post</h2>
    <form action="{{ url_for('posts.create_post') }}" method="POST" enctype="multipart/form-data">
        <!-- <div class="form-group">
            <label for="title">Post Title</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div> -->
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" name="text" rows="1" required></textarea>
        </div>
        <div class="form-group">
            <label for="content">add image</label>
            <input type="file" class="form-control" id="image" name="image">
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>

<!-- <div class="mt-4">
    <h4>Browse Other Posts</h4>
    <ul class="list-group">
        {% for post in posts %}
        <li class="list-group-item">
            <a href="{{ url_for('posts.view_posts', post_id=post.id) }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div> -->
{% endblock %}