{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %} 
<a href="{{ url_for('auth.account_settings') }}">settings</a>
<h1>Welcome, {{ user.username }} </h1>

<div>
    <label>profile picture:</label>
    {% if user.profile_image %}
    <img src="{{ url_for('static', filename='images/' + user.profile_image) }}" style="width:100px;">
    {% else %}
    <p> no profile picure </p>
    {% endif %}
    <p>{{ user.bio }}</p>
</div>

{% if current_user != user %}  <!-- Check if the logged-in user is not the same as the viewed user -->
{% if current_user.friends.filter_by(id=user.id).first() %}
        <form method="POST">
            <button type="submit">Unfriend</button>
        </form>
    {% else %}
        <form action="{{ url_for('dashboard.add_friend', friend_id=user.id) }}" method="POST">
            <button type="submit">Add Friend</button>
        </form>
    {% endif %}
{% endif %}

<a href="{{ url_for('dashboard.friend') }}">friends</a>
<h2>profile</h2>
{% endblock %}