{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center" style="margin-top: 50px;">
    <a href="{{ url_for('auth.account_settings') }}"><i class="fas fa-cog fa-2x"></i></a>
</div>


<div class="d-flex justify-content-center align-items-center" style="height: 200px;;">
    {% if user.profile_image %}
    <img src="{{ url_for('static', filename='images/' + user.profile_image) }}" class="rounded-circle" style="width: 150px; height: 150px; border:3px solid red;">
    {% else %}
    <p> no profile picure </p>
{% endif %}
</div>

<div class="d-flex flex-column justify-content-center align-items-center">
    <h3>{{ user.username|capitalize }} </h3>
    <small>{{ user.bio }}</small>
    <small>{{ user.email }}</small>
    <p>{{ user.roles.users }}</p>
</div>


{% if current_user != user %}  <!-- Check if the logged-in user is not the same as the viewed user -->
    {% if current_user.friends.filter_by(id=user.id).first() %}
        <form method="POST">
            <button type="submit">Unfriend</button>
        </form>
    {% else %}
        <form action="{{ url_for('dashboard.add_friend', friend_id=user.id) }}" method="POST">
            <button type="submit">Add Friend</button>
        </form>
    {% endif %}
{% endif %}

<a class="btn btn-primary" href="{{ url_for('dashboard.friend') }}">Friends</a>

{% endblock %}