{% extends 'base.html' %}

{% block title %}{% endblock%}

{% block navigation %}
<a href="{{ url_for('dashboard.friend') }}"><i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i></a>
{% endblock%}

{% block content %}


{% for message in messages %}
    <strong>{{ message.sender.username }}</strong>: {{ message.content }}
{% endfor %}

<form action="{{ url_for('message.send_message', user_id=user.id) }}" method="POST" enctype="multipart/form-data">
    <textarea name="content" placeholder="Write your message" required></textarea>
    
    <!-- Pass the receiver_id as a hidden input -->
    <input type="hidden" name="receiver_id" value="{{ user.id }}">
    
    <input type="file" name="attachment">
    <button type="submit">Send</button>
</form>
{% endblock %}


