{% extends 'base.html'%}

{% block title %} friends {% endblock %}

{% block content %}
<ul class="list-group friends-list">
    {% for friend in friends %}
    <li class="list-group-item">
        <div>
            <img src="{{ url_for('static', filename='images/' + friend.profile_image) }}" class="rounded-circle" width="25px" height="25px" alt="" srcset="">
            <strong>{{ friend.username }}</strong>
        </div>
        <a href="{{ url_for('message.view_direct_messages', user_id=friend.id) }}" class="btn btn-primary text-light btn-sm">message</a>
    </li>
    {% else %}
        <li class="list-group-item">No friends added yet.</li>
    {% endfor %}
</ul>
{% endblock %}