<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <title>Mini Campus</title>
</head>
<body>
    <header>

        <nav>
            <div class="logo"><span>M</span>ini<span>C</span>ampus</div>
            <ul>
                <li><a href="">Register</a></li>
                <li><a href="">Login</a></li>
            </ul>
        </nav>
        <div class="theme">
            <h1>Socialize and learn</h1>
            <p>All in one place</p>
        </div>
        
        <img src="{{ url_for('static', filename='/images/landing_page/landing.jpg') }}" alt="" srcset="">
    </header>
    <section>
        about mini campus
    </section>
    <footer>

    </footer>

</body>
</html>