{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block navigation %}
<div class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <a class="navbar-brand" href="{{ url_for('home.home') }}">Varsity App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<h1>Welcome to Varsity App</h1>
<h1>
    <a href="{{ url_for('auth.login') }}">Login </a>or
    <a href="{{ url_for('auth.register') }}">Register</a>
</h1>
<h2>Your one-stop platform for academic resources. It is a website designed to make a students's university life easier;
    by compatmentalizing all the resources they need into one package. It comes with: a courses page, where
    the student can view all his courses, a posts page, which lets a student add post, like comment and share other posts,
    a library page that comes with a wide range of resources that are relevant to the student and so much more.
</h2>
<hr>
<h2>Be sure to checkout this project's creators below:</h2>
<h3><a href="www.linkedin.com/in/brian-kyalo-17a438243">Brian Kyalo</a></h3>
<h3><a href="">Azino Oreva</a></h3>
<h3><a href="">King Prosper</a></h3>
<h3><a href="">Mohamed Yahaya</a></h3>

{% endblock %}
