<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <title>Mini Campus</title>
</head>
<body>
    <header>

        <nav>
            <div class="logo"><span>M</span>ini<span>C</span>ampus</div>
            <ul>
                <li><a href="{{url_for('auth.register') }}">Register</a></li>
                <li><a href="{{url_for('auth.login') }}">Login</a></li>
            </ul>
        </nav>
        <div class="theme">
            <h1>Socialize and learn</h1>
            <p>All in one place</p>
        </div>
        
        <img src="{{ url_for('static', filename='/images/landing_page/landing.jpg') }}" alt="" srcset="">
    </header>
    <section>
        <div class="about">
            <h1>about mini campus</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem, nisi. 
                Ullam architecto ad saepe velit error id, ut earum nihil quibusdam voluptas nobis quo a! 
                Ipsa temporibus alias, voluptate tempore voluptatum recusandae porro rerum voluptatem 
                unde dolores ipsam dolorem corporis nemo, dicta vero nulla praesentium, 
                facere deleniti quia! Veritatis esse ullam consequatur dignissimos in, 
                dolores minima sed sint libero eaque.</p>
                <div class="about-btn">
                    <button>Contact Us</button>
                </div>
                
        </div>

    </section>
    <footer>
        <p>© Copyright 2024</p>
    </footer>

</body>
</html>