{% extends 'base.html' %}

{% block title %}Community: {{ community.name }}{% endblock %}

{% block navigation %}
<div class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('dashboard.profile', user_id=current_user.id) }}"><i class="fa fa-user" title="profile" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('courses.view_courses') }}"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('posts.create_post') }}"><i class="fa fa-pencil-square-o" title="posts" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('library.library') }}"><i class="fa fa-book" title="library" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<h1>{{ community.name }}</h1>

<!-- Display messages in the community -->
<div class="messages">
    {% for message in messages %}
        <div class="message">
            <p><strong>{{ message.user.username }}</strong> ({{ message.created_at }}): </p>
            <span>{{ message.message }}</span>
            {% if message.file_url %}
                <p><img src="{{ url_for('static', filename='uploads/' ~ message.file_url) }}" alt="Media"></p>
            {% endif %}
        </div>
    {% else %}
        <p>No messages in this community yet.</p>
    {% endfor %}
</div>

<!-- Form to post new messages -->
<form action="{{ url_for('community.view_community_detail', community_id=community.id) }}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="content">Post a message:</label>
        <textarea class="form-control" id="content" name="content" rows="1"></textarea>
    </div>
    <div class="form-group">
        <label for="file">Upload media (optional):</label>
        <input type="file" class="form-control" id="file" name="file">
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>

{% endblock %}
