{% extends 'base.html' %}

{% block title %}Community: {{ community.name }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="heading">{{ community.name }}</h1>
        <form action="{{ url_for('community.leave_community', community_id=community.id) }}" method="POST" class="d-inline" id="leave-community-form">
            <button type="button" class="btn btn-danger btn-sm" id="leave-btn" title="Leave Community" onclick="confirmLeave()">
                X
            </button>
        </form>
    </div>

    <!-- Display messages in the community -->
    <div class="messages" id="message-area" style="overflow-y: auto; max-height: 70vh; padding-bottom: 70px;">
        {% for message in messages %}
        <div class="message mb-3 community-message-wrapper">
            <p><strong><a class="community-username" id="community-username" href="{{ url_for('dashboard.profile', user_id=message.user.id) }}">{{ message.user.username }}</a></strong> <span class="date-time">{{ message.created_at.strftime('%d/%m - %H:%M') }}</span></p>
            <p>{{ message.message }}</p>
            {% if message.file_url %}
            <p>
                <img src="{{ url_for('static', filename='media/' ~ message.file_url) }}" alt="Media" class="img-fluid">
            </p>
            {% endif %}
        </div>
        {% else %}
        <p>No messages in this community yet.</p>
        {% endfor %}
    </div>

    <!-- Form to post new messages (fixed at the bottom) -->
    <div class="post-wrapper">
        <form class="community-post-box" action="{{ url_for('community.view_community_detail', community_id=community.id) }}" method="POST" enctype="multipart/form-data" class="position-fixed w-100 bottom-0 bg-white p-3" style="left: 0;">
            <div class="form-group mb-2 post-box">
                <textarea class="form-control" id="content" name="content" rows="1" placeholder="Type your message..."></textarea>
            </div>
            <div class="form-group mb-2 post-box">
                <label for="image" class="attach-label">
                    <i id="attach-icon" class="fas fa-paperclip"></i>
                </label>
                <input type="file" class="form-control-file" id="image" name="file">
            </div>
            <button type="submit" class=""><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </form>
    </div>
</div>

<script>
    // Confirm before leaving the community
    function confirmLeave() {
        if (confirm("Are you sure you want to leave this community?")) {
            document.getElementById('leave-community-form').submit();
        }
    }
</script>
{% endblock %}
