{% extends 'base.html' %}

{% block title %}Posts{% endblock %}

{% block navigation %}
<div class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('dashboard.profile', user_id=current_user.id) }}"><i class="fa fa-user fa-lg" title="profile" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('community.view_communities') }}"><i class="fa fa-users fa-lg" title="community" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('courses.view_courses') }}"><i class="fa fa-graduation-cap fa-lg" title="courses" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('library.library') }}"><i class="fa fa-book fa-lg" title="library" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<h1>Recent Posts</h1>
<ul class="list-group">
    {% for post in posts %}
    <div>
        <h3><a href="{{ url_for('dashboard.profile', user_id=post.user_id) }}">@{{ post.author.username }}</a></h3>
        <p>{{ post.text }}</p>
        {% if post.image %}
        <img src="{{ url_for('static', filename='images/' + post.image) }}" width="600px" height="400px">
        {% endif %}
        <div>
            <form action="{{ url_for('posts.like_post', post_id=post.id) }}" method="POST">
                <button type="submit">like</button>
            </form>
            <span>{{ post.total_likes() }}</span>
            <a href="{{ url_for('posts.view_a_post', post_id=post.id) }}">comment</a>
            <a href="{{ url_for('posts.repost', post_id=post.id) }}">Repost</a>
        </div>
    </div>
    {% endfor %}
</ul>
{% endblock %}

{% block footer %}
<div>
    <a href="{{ url_for('posts.create_post') }}">add</a>
</div>
{% endblock %}
