{% extends 'base.html'%}

{% block title %}
{% endblock%}

{% block navigation %}

<a href="{{ url_for('dashboard.profile', user_id=current_user.id) }}"><i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i></a>
{% endblock %}

{% block content%}
<a href="{{ url_for('auth.logout') }}">logout</a>
<form action="{{ url_for('dashboard.profile', user_id=current_user.id) }}" method="POST" enctype='multipart/form-data'>
    <div>
        <label>Bio:</label>
        <textarea name="bio" row=10 column=1></textarea>
    </div>
    <div>
        <label  for="">choose image:</label>
        <input type="file" name="profile_image">
    </div>
    <div>
        <button type="submit">update profile</button>
    </div>
</form>
{% endblock %}