{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block navigation %}
<!-- empty navigation -->
{% endblock %}


{% block content %}
<div class="view-post-container">
    <a href="{{ url_for('posts.view_posts') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <div class="comments-wrapper">
        <!-- <h1>{{ post.author.username }}</h1>
        <p>{{ post.text }}</p>

        {% if post.image %}
        <img src="{{ url_for('static', filename='images/' + post.image) }}" width="600px" height="400px">
        {% endif %} -->

        <div>
            <ul class="list-group comments-container">
                {% for comment in comments %}
                <li class="comment-item">
                    <strong><a class="comment-username" id="username" href="{{ url_for('dashboard.profile', user_id=comment.user.id) }}">@{{ comment.user.username }}</a></strong>
                    <p id="comment-text">{{ comment.text }}</p>
                    <small id="time">{{ comment.timestamp.strftime('%H:%M') }}</small>
                </li>
                {% else %}
                    <li class="list-group-item">No comments</li>
                {% endfor %}
            </ul>
            
            
        </div>
    </div>
    <form class="add-comment" action="{{ url_for('posts.comment_post', post_id=post.id) }}" method="POST">
        <textarea name="text" id="text" rows="1" placeholder="Comment..."></textarea>
        <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </form>
</div>

<!-- <div>
    <form action="{{ url_for('posts.comment_post', post_id=post.id) }}" method="POST">
        <textarea name="text" id="text" rows="1"></textarea>
        <button type="submit">comment</button>
    </form>
</div> -->
{% endblock %}