{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block navigation %}
<a href="{{ url_for('lectures.view_lectures', lecturer_id=current_user.id) }}"><i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i></a>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Edit lecture</h2>

    
    <form action="{{ url_for('lectures.edit_lecture', lecture_id=lecture.id) }}" method="POST" enctype="multipart/form-data">
        <div>
            <div class="form-group">
                <label for="">Title</label>
                <input type="text" name="title" value="{{ lecture.title }}" required class="form-control">
            </div>
            <div class="form-group">
                <label for="">Description</label>
                <input type="text" name="description" value="{{ lecture.description }}" class="form-control">
            </div>
        </div>

        <h2>Edit Students</h2>
        <ul id="studentList" class="list-group mb-3">
           <!-- display list of student's email -->
        </ul>

        <div>
            <label for="">student email:</label>
            <input type="email" id="studentEmailInput" class="form-control">
            <div class="input-group-append">
                <button type="button" id="addStudentBtn" class="btn btn-primary mt-2">Add Student</button>
            </div>
            <input type="hidden" id="studentEmails" name="studentEmails" value="{% for student in lecture.students %}{{ student.email }}{% if not loop.last %},{% endif %}{% endfor %}">
        </div>

        <h2>add resources</h2>
         <!-- add video url -->
         <div class="form-group">
            <label for="videoUrlInput">Video URL:</label>
            <input type="url" id="videoUrlInput" class="form-control">
            <ul id="videoList" class="list-group mb-3"><!-- Display added students --></ul>
            <div class="input-group-append">
                <button type="button" id="addVideoBtn" class="btn btn-primary mt-2">save</button>
            </div>
            <input type="hidden" id="video_url" name="video_url" value="{% for video in lecture.videos %}{{ video.video_url }}{% if not loop.last %},{% endif %}{% endfor %}">
        </div>

        <div class="form-group">
            <label for="documentUrlInput">Document URL:</label>
            <input type="url" id="documentUrlInput" class="form-control">
            <ul id="documentList" class="list-group mb-3"><!-- Display added students --></ul>
            <div class="input-group-append">
                <button type="button" id="addDocxBtn" class="btn btn-primary mt-2">save</button>
            </div>
            <input type="hidden" id="document_url" name="document_url" value="{% for docx in lecture.documents %}{{ docx.document_path }}{% if not loop.last %},{% endif %}{% endfor %}">
        </div>


       

        <div>
            <a href="{{ url_for('lectures.create_assignment') }}">add assignment</a>
        </div>

        <div>
            <button type="submit" class="btn btn-success">create lecture</button>
        </div>
</form>

</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/lecture.js') }}"></script>
{% endblock %}